---
console.log('This runs in your terminal, not the browser!')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={ Astro.generator } />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>Mike Niebling</title>
	</head>

	<body>

		<div>
			<h1>Mike Niebling</h1>
		</div>

		<main>
			<section>
				<h2>Music</h2>

				<div><a href="/music/playlists">Playlists</a></div>
				<div><a href="/music/queue">Listening queue</a></div>

				<p>In 2020 I made a resolution to review all the records I liked.
				It became a nice challenge and sharpened my thinking and writing about music, although I did fall off
				at the end of the year when life got crazy. Here are my reviews, month-by-month:</p>
			</section>
		</main>

	</body>
</html>
