---
import SiteLayout from '../layouts/SiteLayout.astro'
---


<SiteLayout>
	<div class="header">
		<h1>Mike Niebling</h1>
	</div>

	<main class="container">
		<section>
			<h2>Music</h2>

			<p>I'm currently playing tabla in <a href="https://www.instagram.com/radicel.band">Radicel</a>—a
				jazz quintet with unique instrumentation. If drum kit + tabla + bass + sax + violin sounds cool
				to you, come check us out!
			</p>
			<p>
				Our next show is July 23 at <a href="https://throughtherecordshop.com">Dorian's</a>.
			</p>

			<p>Here are some collections of music that I'm enjoying:</p>

			<div><a href="/music/playlists">Playlists</a></div>
			<div><a href="/music/queue">Listening queue</a></div>

			<p>In 2020 I made a resolution to review all the records I liked.
			It became a nice challenge and sharpened my thinking and writing about music, although I did fall off
			at the end of the year when life got crazy. Here are my reviews, month-by-month:</p>
		</section>
	</main>
</SiteLayout>


<style>
	.header {
		background: var(--color-dark);
		border-top: 4px solid var(--color-primary);
		margin: 0 0 20px 0;
		padding: 6px 20px 8px 20px;
		position: relative;
	}

	.container {
		margin: 0 20px;
		padding-top: 10px;
	}

	.section {
		margin-bottom: 30px;
	}

	.section:last-of-type {
		margin-bottom: 0;
		padding-bottom: 60px;
	}

	.subtitle {
		color: #777;
	}

	h1 {
		color: white;
	}

	h2 {
		margin-bottom: 15px;
	}

	.projectLink {
		margin-right: 4px;
	}
</style>
