---
console.log('This runs in your terminal, not the browser!')
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={ Astro.generator } />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>Mike Niebling</title>
	</head>

	<body>
		<h1>Hello, World!</h1>
	</body>
</html>
