---
import '@fontsource/ibm-plex-serif/400'
import '@fontsource/ibm-plex-serif/400-italic'
import '@fontsource/ibm-plex-serif/700'
import '@fontsource/ibm-plex-serif/700-italic'

import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={ Astro.generator } />

		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<title>Mike Niebling</title>
	</head>

	<body>
		<slot />
	</body>
</html>
